
body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    background-color: lightslategray;

    display: flex;
    justify-content: center;
    align-items: center;
}

#container {

    height: 20em;
    width: 80em;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.magician {

    height: 10em;
    width: 10em;

    background-color: pink;
}

.magician img {
    height: 10em;
    width: 10em;
}